body {
    background: #1a1a1a;
}
pre {
    white-space: pre-wrap;
    word-break: break-word;
    color: #222;
    background: #f1c40f;
    padding: 12px;
    border-radius: 8px;
}


/* Tu peux ajouter ce que tu veux, la base Tailwind gère déjà le responsive, ombrages, arrondis, etc */
::-webkit-scrollbar {width:8px;background:#e2e8f0;}
::-webkit-scrollbar-thumb {background:#6366f1;border-radius:8px;}
